@mixin text-parameters($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
