.advantages {
  @include clearfix;

  text-align: center;
}

.advantages__title {
  margin: 0;

  @include text-parameters(18px, 26px, bold);
  text-transform: uppercase;
}

.advantages__description-text {
  margin: 0;

  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  color: $gray-text-color;
}

.advantages__item {
  background-color: #eeeeee;
}

.advantages__item--blue-background { background-color: $blue-background-color; }

.advantages__item-title {
  margin: 0;

  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__item-title--white { color: #fff; }

.advantages__item-number {
  line-height: 21px;

  color: $gray-text-color;
}

.advantages__item-number--white { color: #fff; }

.advantages__item-description {
  margin: 0;

  line-height: 21px;
  text-transform: uppercase;

  color: $gray-text-color;
}

.advantages__item-description--white { color: #fff; }

.advantages__image-wrapper {
  font-size: 0;
  line-height: 0;
}

.advantages__image-wrapper img { width: 100%; }

.advantages__item-wrapper { background-color: #fff; }

.advantages__sedona-highlight { text-align: left; }

.advantages__sedona-highlight-title {
  margin: 0;

  @include text-parameters(18px, 26px, bold);
  text-transform: uppercase;
}

.advantages__sedona-highlight-description {
  margin: 0;

  line-height: 21px;
  text-transform: uppercase;

  color: $gray-text-color;
}

@media (min-width: $tablet-screen-width) {
  .advantages__item { @include clearfix; }

  .advantages__item--row {
    float: left;
    width: 33.333333%;
  }

  .advantages__descritpion-wrapper {
    float: left;
    width: 33.333333%;
  }

  .advantages__image-wrapper {
    float: right;
    width: 66.666666%;
  }

  .advantages__descritpion-wrapper--right-side {
    float: right;
    width: 33%;
  }

  .advantages__image-wrapper--left-side {
    float: left;
    width: 66.666666%;
  }

  .advantages__item-wrapper { @include clearfix; }

  .advantages__sedona-highlight {
    float: left;
    width: 33.333333%;
  }

  .advantages__sedona-highlight { text-align: center; }

  .advantages__image-wrapper img { width: 100%; }

  .advantages__item-wrapper { clear: both; }
}
