.hotel-booking { font-family: "PT Sans"; }

.hotel-booking__title {
  margin: 0;

  @include text-parameters(21px, 26px, bold);
  text-transform: uppercase;

  color: #000;
}

.hotel-booking__description {
  margin: 0;

  @include text-parameters(14px, 24px, normal);
  text-transform: uppercase;

  color: $gray-text-color;
}

.hotel-booking__search-btn {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;

  @include text-parameters(21px, 26px, bold);
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
  background-color: $blue-background-color;
}
