.hotel-booking {
  margin-bottom: 36px;

  text-align: center;
}

.hotel-booking__title {
  margin: 0;
  margin-bottom: 19px;

  @include text-parameters(21px, 26px, bold);
  text-transform: uppercase;
}

.hotel-booking__description {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  text-transform: uppercase;

  color: $gray-text-color;
}

.hotel-booking__search-btn {
  display: inline-block;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 47px;
  padding-right: 47px;

  @include text-parameters(21px, 26px, bold);
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;

  color: #fff;
  background-color: $blue-background-color;
}

.hotel-booking__search-btn:hover { background-color: #669ec0; }

.hotel-booking__search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-booking__search-btn--disabled,
.hotel-booking__search-btn--disabled:hover,
.hotel-booking__search-btn--disabled:active {
  background-color: #e5e5e5;
  color: #fff;
}

@keyframes btn-color-change {
  0% { background-color: #5496bd; }
  50% { background-color: #3e84ae; }
  100% { background-color: #5496bd; }
}

.hotel-booking__search-btn--color-animation {
  animation-name: btn-color-change;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.hotel-booking__map {
  height: 350px; //временно

  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-screen-width) {
  .hotel-booking__title {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
  }

  .hotel-booking__description {
    margin-bottom: 42px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .hotel-booking__search-btn {
    margin-bottom: 57px;
    padding-left: 135px;
    padding-right: 135px;
  }

  .hotel-booking__map { background-image: url("../img/bg-map-tablet@1x.jpg"); }
}

@media (min-width: $desktop-screen-width) {
  .hotel-booking__description {
    margin-bottom: 46px;
    padding-left: 30%;
    padding-right: 30%;
  }

  .hotel-booking__search-btn { margin-bottom: 67px; }

  .hotel-booking__map { background-image: url("../img/bg-map-desktop@1x.jpg"); }
}
