.main-nav { background-color: $blue-background-color; }

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  @include text-parameters(18px, 40px, bold);
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
}

@media (min-width: $tablet-screen-width) {
  .main-nav { background-color: #fff; }
  .main-nav__item {
    display: inline-block;
    margin-right: 70px; //верменно
  }

  .main-nav__link {
    line-height: 26px;

    color: #000;
  }
}
