.main-nav {
  position: relative;

  background-color: #fff;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  background-color: $blue-background-color;
  list-style: none;
}

//.main-nav__list--menu-closed { display: none; }

//.main-nav__item {
//  border-top: 1px solid #9ac2db;
//  border-bottom: 1px solid #678fa8;
//}

.main-nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;

  @include text-parameters(18px, 40px, bold);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #fff;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__link--shadow {
  border-bottom: none;
  box-shadow: inset 0 -4px 5px -2px rgba(0, 0, 0, 0.15);
}

.main-nav__link:hover {
  background-color: #669ec0;
  border-top: 1px solid #86b2cd;
  border-bottom: 1px solid #cccccc;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  border-top: 1px solid #77acca;
  border-bottom: 1px solid #cccccc;
}

.main-nav__link--shadow:hover { border-bottom: none; }

.main-nav__link--shadow:active { border-bottom: none; }

.main-nav__link--custom-border { border-top: none; }

.main-nav__link--custom-border:hover { border-top: none; }

.main-nav__link--custom-border:active { border-top: none; }

.main-nav__menu-btn {
  position: absolute;
  top: 17px;
  right: 20px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-image: url("../img/icon-cross.svg");
  background-color: transparent;
  border: none;

  cursor: pointer;
}

//.main-nav__menu-btn--open-menu { background-image: url("../img/icon-menu.svg"); }

@media (min-width: $tablet-screen-width) {
  .main-nav {
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .main-nav__list {
    display: flex;

    background-color: #fff;
  }

  .main-nav__item {
    width: 20%;

    text-align: center;

    border: none;
  }

  .main-nav__item:last-child {
    box-shadow: none;
  }

  .main-nav__item--logo-gap { margin-right: auto; }

  .main-nav__link {
    @include text-parameters(14px, 26px, bold);

    color: #000;
    border: none;
    box-shadow: none;
  }

  .main-nav__link:hover {
    color: #81b3d2;
    background-color: #fff;
    border: none;
  }

  .main-nav__link:active {
    color: #000;
    opacity: 0.3;
    border: none;
  }

  .main-nav__link--active { color: #766357; }

  .main-nav__link--active:hover { color: #604e43; }

  .main-nav__link--active:active { opacity: 0.3; }

  .main-nav__menu-btn {
    display: none;
  }
}
