.page-footer {
  margin-bottom: 23px;

  text-align: center;
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 36px;

  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright {
  margin: 0;

  line-height: 26px;
  text-transform: uppercase;

  color: #000;
}

.page-footer__copyright-link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 7px;

  font-size: 0;
  vertical-align: middle;
}

.page-footer__academy-logo {

}

.page-footer__academy-logo:hover { fill: #81b3d2; }

.page-footer__academy-logo:active { fill: #b2b2b2; }

@media (min-width: $tablet-screen-width) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 36px;

    text-align: left;
  }

  .page-footer__hashtag { margin-bottom: 0; }
}

@media (min-width: $desktop-screen-width) {
  .page-footer { justify-content: flex-start; }

  .page-footer__hashtag {
    margin-left: 133px;
    margin-right: 0;
  }

  .page-footer__copyright {
    margin-left: 93px;
    margin-right: 45px;
  }
}
