.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  font-size: 0;
  vertical-align: middle;

  background: #81b3d2;
}

.social-link:hover { background-color: #669ec0; }

.social-link:active { background-color: #5496bd; }

.social-link svg { fill: #fff; }

.social-link:active svg { fill: #88b6d1; }
