.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;

  font-size: 0;
}

@media (min-width: $tablet-screen-width) {
  .social-links { margin-bottom: 0; }
}

@media (min-width: $desktop-screen-width) {
  .social-links {
    margin-left: auto;
    margin-right: auto;
  }
}
